<!--begin group-member-posts-->
<div class="ui padded grid" id="group-tweets">
    <div class="column">
        <div><h1 class="group-name uppercase" style="text-align: center; margin-bottom: .5em;">{{group_name}}</h1>
        </div>

        <div id="newTweetStatus" ng-switch on="tweetStatus.switch" style="text-align: center;">
            <div ng-switch-when="on">
                <span id="tweetsButton" class="ui orange label" ng-click="tweetStatus.switch = 'off'; refreshTweets()" style="margin-bottom: 1.5em;">New Posts
                </span>
            </div>
            <div ng-switch-when="off"></div>
            <div ng-switch-default></div>
        </div><!--end newTweetStatus -->
        <div ng-repeat="Member in users  | orderBy: randomUser " ng-cloak xpnkid="{{Member.XpnkID}}">
            <div class="tweeter-container">
                <row class="tweeter-title-row">
                <h2 class="ui tweeter-title" ng-model="tweeterID">{{Member.TweeterID}}</h2><!--TO DO add fname lname to json file and display those here instead of tweeterID-->
                </row>
                <row>
                    <div style="float: left; width: 21%; margin-right: -10px;">
                        <img ng-src="{{Member.ProfileImg}}" id="{{Member.TweeterID}}" class="content" style="height: 65px; width: 65px; border-radius: 0.2857rem; margin-left: -15px;" profile-image>
                    </div>
                    <div xpnkID={{Member.XpnkID}} style="height: 34px; margin-right: -17px;" ng-cloak>

                        <button id="twitter-btn" href="#" class="ui labeled icon button compact feedslider primary mini" ng-click="whichposts = 'twitter'; showTweets = !showTweets " ng-model="whichposts" ng-cloak><i class="twitter icon" ng-cloak></i>{{ thisTweets[Member.XpnkID][0].TwitterPosts.length }}</button>

                        <button id="instagram-btn" href="#" class="ui labeled icon button compact feedslider primary mini" ng-click="whichposts = 'instagram'; showInstas = !showInstas " ng-model="whichposts" ng-cloak><i class="instagram icon" ng-cloak></i>{{ instagrams[Member.XpnkID][0].InstagramPosts.length }}</button>

                        <button id="facebook-btn" href class="ui labeled icon button compact unavail feedslider primary mini" ng-click="facebook = !facebook" ng-model="reveal" ng-cloak><i class="facebook icon" ng-cloak></i>{{facebook.length}}</button>

                        <button id="linkedin-btn" href class="ui labeled icon button compact unavail feedslider primary mini" ng-click="linkedin = !linkedin" ng-model="reveal" ng-cloak><i class="linkedin icon" ng-cloak></i>{{linkedin.length}}</button>
                        <!--  <button id="hide-btn"><class="ui button mini" ng-click="reveal=0" ng-model="reveal">Hide</button>  -->
                    </div>
                </row>
                <row style="margin-right: -17px;">
                        <button id="pinterest-btn" href class="ui labeled icon button compact unavail feedslider primary mini" ng-click="pinterest = !pinterest" ng-model="reveal" ng-cloak><i class="pinterest icon" ng-cloak></i>{{pinterest.length}}</button>

                        <button id="snapchat-btn" href="#" class="ui labeled icon button compact unavail feedslider primary mini" ng-click="snapchat = !snapchat" ng-model="reveal" ng-cloak><i class="icon snapchat" ng-cloak></i>{{snapchat.length}}</button>

                        <button id="slack-btn" href class="ui labeled icon button compact unavail feedslider primary mini" ng-click="slack = !slack" ng-model="reveal" ng-cloak><i class="slack icon" ng-cloak></i>{{slack.length}}</button>

                        <button id="disqus-btn" href="#" class="ui labeled icon button compact feedslider primary mini" ng-click="whichposts = 'disqus'; showDisqus = !showDisqus " ng-model="whichposts" ng-cloak><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 200 200" class="icon"><rect width="15" height="15" fill="#2E9FFF"/><path d="M102.5 167.5c-16.5 0-31.6-6-43.3-16L30.5 155.4l11.1-27.4c-3.9-8.5-6-18-6-28 0-37.3 30-67.5 67-67.5 37 0 67 30.2 67 67.5C169.5 137.3 139.5 167.5 102.5 167.5zM139.1 99.8v-0.2c0-19.5-13.7-33.4-37.4-33.4h-25.6v67.5h25.2C125.2 133.8 139.1 119.3 139.1 99.8L139.1 99.8zM102 117.2h-7.5V82.8h7.5c11 0 18.3 6.3 18.3 17.1v0.2C120.2 111 113 117.2 102 117.2z" fill="#FFF"/></svg>{{thisDisqus[Member.XpnkID][0].DisqusPosts.length}}</button>

                </row>
            </div>
            <div ng-switch="whichposts">
                <instarender ng-show="showInstas" ng-switch-when="instagram"></instarender>
                <twender ng-show="showTweets" ng-switch-when="twitter"> </twender> 
                <disqusrender ng-show="showDisqus" ng-switch-when="disqus"> </disqusrender>   
            </div>
        </div>
    </div>
</div>
<!--end group-member-posts-->